* {
	padding : 0;
	margin : 0;
	outline: none;
}

body {
	margin : 5px;
	width: 200px;
    height: 150px;
	font-size: 14px;
}

.title {
	text-align: center
}

#manual-container {
	display: block;
	text-align: center;
	margin: 5px 0;
}

#manual-input {
	width: 3.5em;
	height: 25px;
}

.slidecontainer, #fip-container {
	margin : 5px;
}

#select-input {
	text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #3399FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3399FF;
  cursor: pointer;
}

button {
	background-color: #3399FF;
	border: 0;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	cursor : pointer;
}

#download{
	margin: 5px 10px;
}

#png-ask {
    font-size: 12px;
}